@import "../../core/style/mixins.scss";
@import "../../core/style/variables.scss";

.create-edit-board-modal {
  h2 {
    color: var(--background-color-secondary-opposite);
  }

  .create-edit-board-modal-form {
    width: 100%;

    > * {
      margin-top: 1.5rem;
    }

    .form-name-container {
      @include flex(flex-start, flex-start, column);
    }

    .create-edit-board-modal-form-actions {
      button {
        margin-top: 2rem;
      }
    }

    .form-columns-container-add-column {
      margin-left: 1rem;
      color: $mediumGrey;
      svg {
        font-size: $fontHeadingM;
      }
    }
  }
}
